@use '../../styles/mixins' as *;
@use '../../styles/dialog-surface' as dialog-surface;

.overlay {
  @include dialog-surface.overlay;
}

@include dialog-surface.overlay-keyframes;

.content {
  @include dialog-surface.content;
}

@include dialog-surface.content-keyframes;

.scrollable {
  overflow-y: hidden;
}

.size-sm {
}

.size-md {
}

.size-lg {
}

.size-xl {
}

.size-fullscreen {
  @include dialog-surface.size-fullscreen;
}

.closeButton {
  position: absolute;
  top: var(--dds-space-3);
  right: var(--dds-space-3);
}

.header {
  @include dialog-surface.header;
}

.title {
  @include dialog-surface.title;
}

.description {
  @include dialog-surface.description;
}

.body {
  @include dialog-surface.body('.scrollable');
}

.footer {
  @include dialog-surface.footer;
}

.footerAlign-start {
  @include dialog-surface.footer-align-start;
}

.footerAlign-center {
  @include dialog-surface.footer-align-center;
}

.footerAlign-end {
  @include dialog-surface.footer-align-end;
}

.footerAlign-between {
  @include dialog-surface.footer-align-between;
}
