@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.groupItem,
.overflow {
  flex: 0 0 auto;
  box-sizing: border-box;
  border: 2px solid var(--dds-color-bg-default);
  border-radius: var(--dds-radius-full);
}

.groupItem {
  margin-left: calc(var(--dds-space-2) * -1);

  &:last-child {
    margin-left: 0;
  }
}

.overflow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dds-color-bg-muted);
  color: var(--dds-color-text-muted);
  font-family: var(--dds-font-sans);
  font-size: var(--dds-font-size-xs);
  font-weight: var(--dds-font-weight-semibold);
  line-height: var(--dds-line-height-none);
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.sm {
  .overflow {
    width: var(--dds-space-8);
    height: var(--dds-space-8);
  }
}

.md {
  .overflow {
    width: var(--dds-space-10);
    height: var(--dds-space-10);
  }
}

.lg {
  .overflow {
    width: calc(var(--dds-space-12) + var(--dds-space-2));
    height: calc(var(--dds-space-12) + var(--dds-space-2));
  }
}
