@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.groupLabel {
  --dds-radio-group-required-color: var(--dds-color-text-danger);

  display: inline-flex;
  align-items: center;
  gap: var(--dds-space-1);
  margin-bottom: var(--dds-space-0-5);
  color: var(--dds-color-text-default);
  font-family: var(--dds-font-sans);
  font-size: var(--dds-font-size-sm);
  font-weight: var(--dds-font-weight-medium);
  line-height: var(--dds-line-height-none);
}

.groupLabelDisabled {
  --dds-radio-group-required-color: var(--dds-color-text-muted);

  color: var(--dds-color-text-muted);
}

.groupLabelNoInstruction {
  margin-bottom: var(--dds-space-1-5);
}

.requiredMark {
  color: var(--dds-radio-group-required-color);
  font-weight: var(--dds-font-weight-bold);
}

.instruction {
  margin-bottom: var(--dds-space-1-5);
}

.helper {
  margin-top: var(--dds-space-2);
}
