@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.root {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: var(--dds-radius-none);
  background-color: var(--dds-color-bg-subtle);
}

.figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: inherit;
  background-color: var(--dds-color-bg-subtle);

  .root {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

.rounded {
  border-radius: var(--dds-radius-full);
}

.stateError {
  opacity: 0;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.fill {
  object-fit: fill;
}

.ratio1x1 {
  aspect-ratio: 1 / 1;
}

.ratio4x3 {
  aspect-ratio: 4 / 3;
}

.ratio16x9 {
  aspect-ratio: 16 / 9;
}

.ratio3x2 {
  aspect-ratio: 3 / 2;
}
