@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.root {
  --dds-label-required-color: var(--dds-color-text-danger);

  color: var(--dds-color-text-default);
  font-family: var(--dds-font-sans);
  font-size: var(--dds-font-size-sm);
  font-weight: var(--dds-font-weight-medium);
  cursor: default;
}

.inline {
  display: inline-flex;
  align-items: center;
  line-height: var(--dds-line-height-none);
}

.wrap {
  display: block;
  line-height: var(--dds-line-height-normal);
}

.sm {
  font-size: var(--dds-font-size-sm);
}

.base {
  font-size: var(--dds-font-size-base);
}

.required {
  margin-inline-start: var(--dds-space-1);
  color: var(--dds-label-required-color);
  font-weight: var(--dds-font-weight-bold);
}

.disabled {
  --dds-label-required-color: var(--dds-color-text-muted);

  color: var(--dds-color-text-muted);
  cursor: not-allowed;
}
